#These data are too big for github
#Look for them in Dropbox

PythonProject/Datasets/gene/biogrid.txt
PythonProject/Datasets/gene/intact.txt
PythonProject/DataQuality/gene/biogrid.json
PythonProject/DataQuality/gene/intact.json
PythonProject/DataQualityFormatted/gene/biogrid.json
PythonProject/DataQualityFormatted/gene/intact.json
PythonProject/DataQualityFormatted/gene/genes.json

JavascriptProject/Datasets/gene/biogrid.txt
JavascriptProject/Datasets/gene/intact.txt
JavascriptProject/DataQuality/gene/biogrid.json
JavascriptProject/DataQuality/gene/intact.json
JavascriptProject/DataQualityFormatted/gene/biogrid.json
JavascriptProject/DataQualityFormatted/gene/intact.json
JavascriptProject/DataQualityFormatted/gene/genes.json

JavascriptProject/nodejsserver/server.js
JavascriptProject/nodejsserver/server-start.js
JavascriptProject/nodejsserver/globalvars.js
JavascriptProject/globalvars.js
PythonProject/globalvars.py

PythonProject/__pycache__
PythonProject/*/__pycache__
PythonProject/.idea
PythonProject/__pycache__/
PythonProject/*/__pycache__/
PythonProject/.idea/
PythonProject/globalvars.py
PythonProject/vars.py

.DS_Store
**/.DS_Store



JavascriptProject/.idea
JavascriptProject/.idea/
