#livestats {
    position: fixed;
    width: fit-content;
    max-width: 50%;
    height: 10%;
    bottom: 1%;
    left: 30%;
    z-index: 2;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
}

#edgegraph{
    position: fixed;
    bottom: 1%;
    right: 13%;
    width: 13%;
    height: 15%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6);
    visibility: hidden;
}


